<!-- antenna_add.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Antenna Record</title>
</head>
<body>
    <h1>Add Antenna Record</h1>
    <form method="POST" action="/antenna_add">
        <label for="antenna_id">Antenna ID:</label>
        <input type="text" id="antenna_id" name="antenna_id">
        <br>
        <label for="antenna_size">Antenna Size:</label>
        <input type="text" id="antenna_size" name="antenna_size">
        <br>
        <label for="bandwidth">Bandwidth:</label>
        <input type="text" id="bandwidth" name="bandwidth">
        <br>
        <label for="network_generation">Network Generation:</label>
        <input type="text" id="network_generation" name="network_generation">
        <br>
        <label for="antenna_height">Antenna Height:</label>
        <input type="text" id="antenna_height" name="antenna_height">
        <br>
        <label for="antenna_azimuth">Antenna Azimuth:</label>
        <input type="text" id="antenna_azimuth" name="antenna_azimuth">
        <br>
        <input type="submit" value="Add Antenna Record">
    </form>
</body>
</html>
