<!-- delete_site.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Delete Owner ID Value</title>
</head>
<body>
    <h1>Delete Owner ID Value</h1>
    <form method="POST" action="/delete_site">
        <label for="site_id">Site ID:</label>
        <input type="text" id="site_id" name="site_id">
        <br>
        <label for="user_id">User ID:</label>
        <input type="text" id="user_id" name="user_id">
        <br>
        <input type="submit" value="Delete Owner ID">
    </form>
</body>
</html>
